@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://i.ibb.co.com/0Vdk3m46/Screenshot-2025-10-25-10-02-05-63-84181a524dcfbce864002b17997a7b1d.jpg") no-repeat center;
  background-size: cover;
}

/* ===== Wrapper ===== */
.wrapper {
  width: 420px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 30px 40px;
  color: #fff;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

/* ===== Input ===== */
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 40px;
  outline: none;
  color: #fff;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/* ===== Remember & Forgot ===== */
.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -10px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

/* ===== Button ===== */
.btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  transition: 0.2s ease;
}

.btn:hover {
  background: #f1f1f1;
}

/* ===== Register ===== */
.register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}
